<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <div class="categories-list">
    <% categories.forEach(category => { %>
      <div class="event-card">
        <h3><%= category.category_name %></h3>
        <p><%= category.description %></p>
      </div>
    <% }); %>
  </div>
</main>

<%- include('partials/footer') %>
