<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <div class="categories-list">
    <% categories.forEach(category => { %>
      <div class="event-card">
        <h3>
          <a href="/category/<%= category.category_id %>">
            <%= category.category_name %>
          </a>
        </h3>
        <p><%= category.description %></p>
      </div>
    <% }); %>
  </div>
</main>

<%- include('partials/footer') %>
